@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@*<link href="~/css/personalCabinet.css" rel="stylesheet" />*@


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="col-md-4">
                <div class="avatar-container">
                    <img class="avatar-circle img-responsive center-block" src="~/images/DefaultImages/DefaultUser.jpg" />
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h4>@User.Identity.Name</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    @await Html.PartialAsync("_ManageNav")
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.uk.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
}

