<li class=""><a asp-area="Company" asp-action="CreateTicket">Новая заявка</a></li>
<li class=""><a href="#">База знаний</a></li>
<li class=""><a href="#">Счета</a></li>
<li class=""><a href="#">Акты</a></li>
<li class=""><a href="#">Задания печати</a></li>
<li class=""><a href="#">Отчеты</a></li>
