<div class="col-md-offset-4 col-md-2 footer-address">
    <p>&copy; @DateTime.Now.Year - ООО "Бэйстубэйс"</p>
</div>
<div class="col-md-2 footer-social-media">
    <a href="https://ru-ru.facebook.com/Base2BaseLtd/" target="_blank">
        <span class="btn-social-footer fa fa-facebook-square fa-lg" style="color:#3b59ff"></span>
    </a>
    <a href="#"><span class="btn-social-footer fa fa-google-plus-square fa-lg" style="color:#ea4335"></span></a>
    <a href="#"><span class="btn-social-footer fa fa-twitter-square fa-lg" style="color:#1dcaff"></span></a>
    <a href="#"><span class="btn-social-footer fa fa-instagram fa-lg" style="color:#c1558b"></span></a>
</div>
