@using Microsoft.AspNetCore.Identity
@using Base2BaseWeb.Identity.Models
@using Base2BaseWeb.UI.Helpers

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav menu-static-right" id="menu-static-right">
    <li>
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-link">
            <span class="fa fa-user"></span> @UserManager.GetUserName(User)
        </a>
    </li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="btn btn-link">
                <span class="fa fa-sign-out"></span> Выход
            </button>
        </form>

    </li>
</ul>
}
else
{
    <ul class="nav navbar-nav menu-static-right" id="menu-static-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-link">
                <span class="fa fa-sign-in"></span> Вход
            </a>
        </li>
    </ul>
}
