@model IQueryable<Client>
@{
    ViewData["Title"] = "Наши клиенты";
}

<!--Clients-->
<div class="container">
    <div class="clients">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Наши Клиенты</h2>
            </div>
            @foreach (var client in Model)
            {
                <div class="col-md-3 text-center">
                    <div class="image-container-clients">
                        <img class="img-responsive" src="@client.ClientImages.FirstOrDefault().Path" alt="default image">
                        <div class="description-container">
                            <strong class="text-capitalize text-primary">
                                @client.Name
                            </strong>
                            <p>@client.ShortDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

