
@{
    ViewData["Title"] = "О компании";
}

<!--About-->
<div class="container aboutCompany">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="aboutCompany-header">
                    О нас
                </h1>
                <h1 class="aboutCompany-clients">
                    <a asp-controller="Home" asp-action="Clients" class="btn btn-border-blue">Наши клиенты</a></h1>
            </div>

        </div>
    </div>
    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img class="img-responsive" src="~/images/big-logo.png" alt="">
        </div>
        <div class="col-md-9 col-xs-12">
            <p>
                <strong>Компания Base2Base</strong> является разработчиком готовых решений для автоматизации торговли.
            </p>
            <p>
                <strong>Более 10 лет </strong> программными продуктами нашей компании пользуются тысячи наших клиентов во всех регионах Украине,
                а также за рубежом.
            </p>
            <p>
                Особенностями <strong>компании Base2Base</strong> является наличие полной линейки собственных программных продуктов,
                которые покрывают все бизнес-процессы торговых предприятий, их интеграция с любыми внешними сервисами и уже установленными у
                наших клиентов платформами.
            </p>
            <p>Мы также являемся экспертами в установке всех видов <strong>торгового оборудования</strong>.</p>
            <p>Наши клиенты пользуются всеми преимуществами <strong>сервисной поддержки в режиме 365 дней в году</strong>.</p>

            <p>
                Автоматизация Вашего бизнеса, постоянная разработка и внедрение инновационных решений - это то, чем мы живем и дышим.
            </p>
            <p>Присоединяйтесь к нашему сообществу!</p>
            <p>С нами вы сможете лучше контролировать свой бизнес и зарабывать больше.</p>
        </div>
    </div>
</div>
