
@{
    ViewData["Title"] = "Company";
}

<!--About-->
<div class="aboutCompany">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                О нас
            </h1>
        </div>
    </div>
    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img class="img-responsive" src="~/images/big-logo.png" alt="">
        </div>
        <div class="col-md-8 col-xs-12">
            <p>
                <strong>Компания Base2Base</strong> является разработчиком готовых решений для автоматизации торговли.
            </p>
            <p>
                <strong>Более 10 лет </strong> программными продуктами нашей компании пользуются тысячи наших клиентов во всех регионах Украине,
                а также за рубежом.
            </p>
            <p>
                Особенностями <strong>компании Base2Base</strong> является наличие полной линейки собственных программных продуктов,
                которые покрывают все бизнес-процессы торговых предприятий, их интеграция с любыми внешними сервисами и уже установленными у
                наших клиентов платформами.
            </p>
            <p>Мы также являемся экспертами в установке всех видов <strong>торгового оборудования</strong>.</p>
            <p>Наши клиенты пользуются всеми преимуществами <strong>сервисной поддержки в режиме 365 дней в году</strong>.</p>

            <p>
                Автоматизация Вашего бизнеса, постоянная разработка и внедрение инновационных решений - это то, чем мы живем и дышим.
            </p>
            <p>Присоединяйтесь к нашему сообществу!</p>
        </div>
    </div>
</div>

<!--Clients-->
<div class="clients">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Наши Клиенты</h2>
        </div>
        @{
            int count = 8;
            string name="Company ";
            int ind = 0;
            for (int i = 0; i < count; i++)
            {
                ind=i+1;
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                    <div class="caption">
                        <strong class="text-capitalize text-primary">
                            @name @ind
                        </strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>
