
@{
    ViewData["Title"] = "Торгово-кассовое оборудование";
}

<!--Equipment Description Desk-->
<div class="container">
    <!--Каталог Оборудования Компании-->
    <div class="row equipments-list-container">
        <h3 class="text-center equipments-list-header">Оборудование по категориям:</h3>
        <!---->
        @{
            int count = 8;
            for (int i = 0; i < count; i++)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="equipment-container">
                        <div class="equipment-description">
                            <h3 class="text-center">POS оборудование</h3>
                        </div>
                        <div class="equipment-cover-container">
                            <div class="equipment-cover-entry">
                                <a class="equipment-cover" href="#"></a>
                            </div>
                        </div>
                        <a class="btn btn-primary equipment-link-details">Каталог</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
@section Footer{
    @Html.Partial("_FooterPartial")
}

