@{
    ViewData["Title"] = "Base2Base";
}

<div class="row">
    <div class="jumbotron text-center">
        <div class="banner-item">
            <h2 class="banner-header">Ускорьте ваши продажи с лучшими решениями для торговли</h2>
            <p class="banner-description">
                Base2Base это POS и e-commerce платформа для ПК и мобильных устройств. Решение покрывает продажи торгового зала,
                учет товаров, управленческую отчетность, привлечение и удержание клиентов.
            </p>
            <div class="controls-container">
                <div class="controls-inline">
                    <input type="email" class="form-control" size="50" placeholder="Email Адрес">
                </div>
                <div class="controls-inline">
                    <a class="btn btn-danger">Бесплатная демо-версия</a>
                </div>
            </div>
        </div>

    </div>
</div>
    <!--Преимущества работы с компанией-->
<div class="container">
    <div class="row features-section">
        <div class="features-section-container">
            <h4 class="text-center features-header">Особенности наших продуктов, которые вы полюбите:</h4>
            <div class="col-xs-12 col-sm-6 col-md-3 feature-item-container">
                <div class="feature-item">
                    <div class="text-center"><span class="feature-logo fa fa-line-chart fa-2x"></span></div>
                    <h4 class="text-center">Эффективные продажи</h4>
                    <p>Кассы работают быстро</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 feature-item-container">
                <div class="feature-item">
                    <div class="text-center"><span class="feature-logo fa fa-book fa-2x"></span></div>
                    <h4 class="text-center">Контроль товара</h4>
                    <p>Наши решения позволяют контролировать продажи и зарабатывать больше</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 feature-item-container">
                <div class="feature-item">
                    <div class="text-center"><span class="feature-logo fa fa-bar-chart fa-2x"></span></div>
                    <h4 class="text-center">Отчетность</h4>
                    <p>Крутая аналитика в разрезе всех торговых точек и товаров</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 feature-item-container">
                <div class="feature-item">
                    <div class="text-center"><span class="feature-logo fa fa-binoculars fa-2x"></span></div>
                    <h4 class="text-center">Он-лайн навигация</h4>
                    <p>GPS мониторинг торговых агентов</p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row btn-main-page-container">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a asp-controller="Home" asp-action="Software" class="btn btn-lg btn-main-page">Ознакомиться с нашими решениями</a>
        </div>
    </div>*@
</div>

