@{
    ViewData["Title"] = "Index";
}

<!--Consider to use Carousel with Company's mainstream Products-->
<div class="container-fluid jumbotron text-center">
    <div class="banner-info">
        <h2>Ускорьте ваши продажи с лучшими решениями для торговли</h2>
        <p>
            Base2Base это POS и e-commerce платформа для ПК и мобильных устройств. Решение покрывает продажи торгового зала,
            учет товаров, управленческую отчетность, привлечение и удержание клиентов.
        </p>
        <form class="form-inline">
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Бесплатная демо-версия</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <!--Преимущества работы с компанией-->
    <div class="row custom-features">
        <h4>С нами вы сможете лучше контролировать свой бизнес и зарабывать больше:</h4>
        <!--Panels list - Feature + Image (Glyphicon?) -->
    </div>

    <!--Продуктовая линейка-->
    <div class="row custom-products">
        <h4>Более 10 лет мы разрабатываем, внедряем и сопровождаем лучшие инновационные решения для торговли:</h4>
        <!--Thumbnails List of Products-->
    </div>

</div>

