@{
    ViewData["Title"] = "Index";
}

<!--Consider to use Carousel with Company's mainstream Products-->
<div class="jumbotron">
    <h2>Base2Base</h2>
    <p>Комплексные решения для автоматизации торговых предприятий</p>
</div>

<div class="container">
    <!--Преимущества работы с компанией-->
    <div class="row custom-features">
        <h4>С нами вы сможете лучше контролировать свой бизнес и зарабывать больше:</h4>
        <!--Panels list - Feature + Image (Glyphicon?) -->
    </div>

    <!--Продуктовая линейка-->
    <div class="row custom-products">
        <h4>Более 10 лет мы разрабатываем, внедряем и сопровождаем лучшие инновационные решения для торговли:</h4>
        <!--Thumbnails List-->
    </div>

</div>

