
@{
    ViewData["Title"] = "Software";
}

<!--Software Description Desk-->
<div class="container">
    <!--Каталог ПО Компании-->
    <div class="row software-list">
        <div class="col-lg-12">
            <h2 class="page-header">Программные решения для торговли:</h2>
        </div>
        <div class="col-md-3 text-center software-card">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/500x300" alt="ShopDesk">
                <div class="caption">
                    <strong class="text-primary">
                        <strong>ShopDesk</strong> - Автоматизация работы торгового зала.
                    </strong>
                    <p>Одновременная поддержка нескольких торговых точек. Контроль со стороны старшего кассира.</p>
                    <div class="btn btn-lg btn-primary">
                        Подробнее
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/500x300" alt="ShopDesk">
                <div class="caption">
                    <strong class="text-primary">
                        <strong>ТЦУ - Торговля, Цены, Учет</strong> - Бэк-офис.
                    </strong>
                    <p>Складской учет, Инвентаризация, Расчеты</p>
                    <div class="btn btn-lg btn-primary">
                        Подробнее
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/500x300" alt="ShopDesk">
                <div class="caption">
                    <strong class="text-primary">
                        <strong>SoftKub</strong> - Детальная аналитика по продажам.
                    </strong>
                    <p>Анализ товарооборота, продаж, финансовых результатов</p>
                    <div class="btn btn-lg btn-primary">
                        Подробнее
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Продуктовая линейка-->
    <div class="row custom-products">
        <h4>Более 10 лет мы разрабатываем, внедряем и сопровождаем лучшие инновационные решения для торговли:</h4>
        <!--Thumbnails List of Products-->
    </div>

</div>