
@{
    ViewData["Title"] = "Software";
}

<!--Software Description Desk-->
<div class="jumbotron">
    <h3>Программные комплексы Base2Base</h3>
    <p>Установите полный контроль над вашим бизнесом</p>
</div>

<div class="container">
    <!--Каталог ПО Компании-->
    <div class="row custom-software">
        <h4>С нами вы сможете лучше контролировать свой бизнес и зарабывать больше:</h4>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <strong class="text-capitalize text-primary">
                        ShopDesk - автоматизированное рабочее место кассира
                    </strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                </div>
            </div>
        </div>

    </div>

    <!--Продуктовая линейка-->
    <div class="row custom-products">
        <h4>Более 10 лет мы разрабатываем, внедряем и сопровождаем лучшие инновационные решения для торговли:</h4>
        <!--Thumbnails List of Products-->
    </div>

</div>