
@{
    ViewData["Title"] = "Программное обеспечение для торговли";
}
<!--Software Description Desk-->
<div class="container">
    <!--Каталог ПО Компании-->
    <div class="row features-section">
        <div class="features-section-container">
            <h4 class="text-center features-header">Преимущества продуктов от компании Base2Base:</h4>
            <div class="col-md-2 feature-item-container">
                <div class="feature-item-software">
                    <div class="text-center feature-logo-container"><span class="feature-logo-software fa fa-tasks fa-2x"></span></div>
                    <h5 class="text-center">Интуитивно понятный интерфейс</h5>
                </div>
            </div>
            <div class="col-md-2 feature-item-container">
                <div class="feature-item-software">
                    <div class="text-center feature-logo-container"><span class="feature-logo-software fa fa-desktop fa-2x"></span></div>
                    <h5 class="text-center">Неограниченное количество рабочих мест</h5>
                </div>
            </div>
            <div class="col-md-2 feature-item-container">
                <div class="feature-item-software">
                    <div class="text-center feature-logo-container"><span class="feature-logo-software fa fa-paper-plane fa-2x"></span></div>
                    <h5 class="text-center">Работа в условиях плохих каналов связи</h5>
                </div>
            </div>
            <div class="col-md-2 feature-item-container">
                <div class="feature-item-software">
                    <div class="text-center feature-logo-container"><span class="feature-logo-software fa fa-fax fa-2x"></span></div>
                    <h5 class="text-center">Поддержка большого количества оборудования</h5>
                </div>
            </div>
            <div class="col-md-2 feature-item-container">
                <div class="feature-item-software">
                    <div class="text-center feature-logo-container"><span class="feature-logo-software fa fa-cogs fa-spin fa-2x"></span></div>
                    <h5 class="text-center">Сервисная поддержка 365 дней в году</h5>
                </div>
            </div>
            <div class="col-md-2 feature-item-container">
                <div class="feature-item-software">
                    <div class="text-center feature-logo-container"><span class="feature-logo-software fa fa-thumbs-up fa-2x"></span></div>
                    <h5 class="text-center">Лучшие цены на ПО и оборудование</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row products-list-container">
        <h4 class="text-center products-list-header">Программное обеспечение компании Base2Base:</h4>
        @{
            int count = 8;
            for (int i = 0; i < count; i++)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="product-container" data-toggle="popover"
                         data-content="Одновременная поддержка нескольких торговых точек. Контроль со стороны старшего кассира."
                         data-trigger="hover" data-placement="bottom" data-animation="true" data-container="body"
                         data-delay="200">
                        <div class="product-description">
                            <p class="product-title text-center"><strong class="text-primary">ShopDesk - Автоматизация работы торгового зала.</strong></p>
                        </div>
                        <div class="product-item-image">
                            <img src="~/images/Pos_terminal.jpg" />
                        </div>
                        <a class="btn btn-primary product-link-details">Подробнее</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
@section Footer{
    @Html.Partial("_FooterPartial")
}
@section Scripts
    {
    <script src="~/js/customPopover.js"></script>
}