
@{
    ViewData["Title"] = "Software";
}

<!--Software Description Desk-->
<div class="jumbotron">
    <h3>Программные комплексы Base2Base</h3>
    <p>Установите полный контроль над вашим бизнесом</p>
</div>

<div class="container">
    <!--Каталог ПО Компании-->
    <div class="row custom-software">
        <h4>Программные комплексы:</h4>
        <div class="col-md-3 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/sd.png" style="background-color:darkblue;color:red" alt="ShopDesk">
                <div class="caption">
                    <strong class="text-primary">
                        <strong>ShopDesk</strong> - Автоматизация работы торгового зала.
                    </strong>
                    <p>Одновременная поддержка нескольких торговых точек. Контроль со стороны старшего кассира.</p>
                    <div class="btn btn-lg btn-primary">
                        Подробнее
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Продуктовая линейка-->
    <div class="row custom-products">
        <h4>Более 10 лет мы разрабатываем, внедряем и сопровождаем лучшие инновационные решения для торговли:</h4>
        <!--Thumbnails List of Products-->
    </div>

</div>