
@{
    ViewData["Title"] = "Software";
}
<!--Software Description Desk-->
<div class="container">
    <!--Каталог ПО Компании-->

    @*<div class="col-lg-12">*@
        <h2>Программные решения для торговли:</h2>
    @*</div>*@
    <div class="row equal">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <div class="thumbnail">
                <img src="~/images/Pos_terminal.jpg" alt="ShopDesk">
                <p>
                    <strong class="text-primary">ShopDesk - Автоматизация работы торгового зала.</strong>
                </p>
                <p>Одновременная поддержка нескольких торговых точек. Контроль со стороны старшего кассира.</p>
                <a class="btn btn-lg btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <div class="thumbnail">
                <img src="~/images/Back_Office.png" alt="TCU">
                <p>
                    <strong class="text-primary">ТЦУ - Торговля, Цены, Учет - Бэк-офис.</strong>
                </p>
                <p>Складской учет, Инвентаризация, Расчеты</p>
                <a class="btn btn-lg btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <div class="thumbnail">
                <img src="~/images/Back_Office.png" alt="SoftKub">
                <p>
                    <strong class="text-primary">SoftKub - Детальная аналитика по продажам.</strong>
                </p>
                <p>Анализ товарооборота, продаж, финансовых результатов</p>
                <a class="btn btn-lg btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</div>