
@{
    ViewData["Title"] = "Программы для магазинов";
}

<div class="container">
    <!--Target Areas-->
    <div class="row features-section">
        <div class="features-section-container">
            <h3 class="text-center features-header">Где используются наши программы?</h3>
            <div class="row target-list-container">
                <div class="col-md-3 feature-item-container">
                    <div class="feature-item-software-spec">
                        <div class="text-center"><span class="feature-logo-software fa fa-line-chart fa-2x"></span></div>
                        <h5 class="text-center">Магазин у дома</h5>
                    </div>
                </div>
                <div class="col-md-3 feature-item-container">
                    <div class="feature-item-software-spec">
                        <div class="text-center"><span class="feature-logo-software fa fa-line-chart fa-2x"></span></div>
                        <h5 class="text-center">Универсам</h5>
                    </div>
                </div>
                <div class="col-md-3 feature-item-container">
                    <div class="feature-item-software-spec">
                        <div class="text-center"><span class="feature-logo-software fa fa-line-chart fa-2x"></span></div>
                        <h5 class="text-center">Специализированный магазин</h5>
                    </div>
                </div>
                <div class="col-md-3 feature-item-container">
                    <div class="feature-item-software-spec">
                        <div class="text-center"><span class="feature-logo-software fa fa-line-chart fa-2x"></span></div>
                        <h5 class="text-center">Магазин на рынке</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sliders: Software && Equipment-->
    <div class="software-slider">
        <div class="row carousel-container">
            <!--Software Slider-->
            <div class="col-sm-offset-2 col-md-offset-2 col-xs-12 col-sm-8 col-md-8 carousel-item">
                <h3 class="text-center">Программы для автоматизации торговли</h3>
                <div id="carouselSoftware" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselSoftware" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSoftware" data-slide-to="1"></li>
                        <li data-target="#carouselSoftware" data-slide-to="2"></li>
                        <li data-target="#carouselSoftware" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="#">
                                <div class="item-image">
                                    <img src="~/images/shopdesk-screen_3.png" alt="ShopDesk" />
                                </div>
                                <div class="carousel-caption" role="option">
                                    <p>ShopDesk - решение для торгового зала.</p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="item-image">
                                    <img src="~/images/TCUDocumentList.png" alt="TCU" />
                                </div>
                                <div class="carousel-caption" role="option">
                                    <p>TCU - решение для учета.</p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="item-image">
                                    <img src="~/images/KuBScreen1.png" alt="Soft Cube" />
                                </div>
                                <div class="carousel-caption" role="option">
                                    <p>SoftKub - решение для анализа деятельности торгового предприятия.</p>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="item-image">
                                    <img src="~/images/MapScreen1.jpg" alt="Map" />
                                </div>
                                <div class="carousel-caption" role="option">
                                    <p>Map - контроль передвижения торговых представителей.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carouselSoftware" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselSoftware" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

