* {
    box-sizing: border-box;
}
body {
    padding-top:0px;
    padding-bottom:0px;
}
.body-wrapper {
    padding-right: 0em;
    padding-left: 0em;
}
.body-content {
    padding-top:0;
    padding-bottom:0;
    padding-left:1.2em;
    padding-right:1.2em;
    margin:0;
}
.navbar.navbar-default {
    margin-bottom:5px!important;
}
.popover {
    z-index:10000!important;
}
/*CAROUSEL Styles Begin*/
.carousel-caption {
    position: absolute;
    top:-5%;
}
.carousel-caption p {
    background-color: #efefef;
    color: #e96520;
    line-height: 1;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: none;
    margin: 1%;
    padding: 1%;
}
#carouselSoftware {
    margin-left: auto;
    margin-right: auto;
}
.item-image {
    height:368px;
    overflow:hidden;
}
.item-image img {
    display:block;
    margin:auto;
    height:auto;
    width:80%;
}
.carousel-indicators li{
    background-color: #efefef;
    border-color: #000;
}
.carousel-indicators li.active {
    background-color: #e96520;
    border-color:#000;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e96520;
}

/*CAROUSEL Styles End*/

/* FIXED MENU styles begin */
.navbar-default {
    background-color: #fff;
}
/* FIXED MENU styles end */

/* Navbar Affixed (menu-fixed class) section begin */
.affix {
    top: 0px;
    width: 100%;
    z-index: 9999 !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.affix-top {
    margin-bottom: 0;
    width: 100%;
}
.affix ~ .container {
    padding-top: 70px;
}
.affix-bottom {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
}
.affix a :not(div.menu-contacts) {
    padding-bottom: 1.5em !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.affix-top a :not(div.menu-contacts) {
    padding-bottom: 2.0em !important;
}

/* Navbar Affixed (menu-fixed class) section end */

#menu-static > nav.inline-navbar  li {
    display: inline!important;
}
.menu-static {
    position:relative;
}

/*Navbar BRAND styles begin*/
.navbar-brand img {
    width: 140px;
}
.navbar-header a.navbar-brand > img {
    display: block;
    position: relative;
    top: -0.5em;
    left: 0.2em;
}

/* MENU STATIC Styles */
.menu-static .navbar {
    margin-bottom: 0 !important;
    min-height: 30px !important;
    border-color: none !important;
}
.menu-static {
    background-color: #333;
}
.menu-static a,button {
    padding-top:5px!important;
    padding-bottom:5px!important;
    font-size:14px!important;
    line-height:1!important;
}

.menu-static-left a, .menu-static-center a {
    text-transform: uppercase;
}
.menu-static a,button {
    color:#fff!important;
}
.menu-static li > a:hover {
    text-decoration: underline;
}
/*.menu-static button {
    position:relative;
    top:50%;
    transform:translateY(-10%);
}*/
.menu-static-right a, button {
    color: #00adf1!important;
}
.navbar-nav.menu-static-left {
    position: relative;
    left: 11.5%;
    transform: translateX(-50%);
}
.navbar-nav.menu-static-center {
    position: relative;
    left: 35%;
    transform: translateX(-50%);
}
.navbar-nav.menu-static-right {
    position: relative;
    left: 37%;
    transform: translateX(-50%);
}
.nav.navbar-nav.menu-static-right > li > a {
    padding-left: 7px !important;
    padding-right: 5px !important;
}

/* MENU FIXED Styles */
.menu-fixed {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 
        0 1px 3px rgba(12,13,14,0.1), 
        0 4px 20px rgba(12,13,14,0.035), 
        0 1px 1px rgba(12,13,14,0.025);
}

.menu-fixed .navbar-default  {
    border:none!important;
}
.navbar-header.menu-fixed-left {
    position: relative;
    left: 10%;
    transform: translateX(-50%);
}
.navbar-nav.menu-fixed-center {
    position: relative;
    left: 33%;
    transform: translateX(-50%);
}
.navbar-nav.menu-fixed-right {
    position: relative;
    left: 30.0%;
    transform: translateX(-50%);
}
.menu-fixed-center a {
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    padding-bottom:30px!important;
    color:#000;
}
.menu-fixed-center a {
    color: #000!important;
}
.menu-fixed a:hover {
    text-decoration: none;
    border-color: #f4511e;
}
div.menu-phone-numbers {
    color: #00adf1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.menu-phone-number {
    font-weight: 600;
    font-size: 16px;
}
div.menu-contacts {
    padding-bottom: 0.5em;
}
div.menu-contacts > a.btn-border-blue {
    border: 1px solid #00adf1;
    height: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 6px;
    line-height: 32px;
    color: #00adf1;
    text-transform: uppercase;
}
div.menu-contacts > a.btn-border-blue:hover {
    background: #00adf1;
    color: #fff;
}
.menu-fixed-phone-numbers > a {
    color: #00adf1 !important;
}

/* MENU MEDIA QUERIES */
@media screen and (max-width:1200px) {
    .menu-fixed li > a {
        font-size: 0.7em;
        font-weight: 400;
    }
    .nav.menu-fixed-center > li > a {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .menu-fixed-right {
        display: none;
    }

    .menu-static li a {
        font-size: 0.8em;
        font-weight: 600;
    }

    .menu-static-center li a {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media screen and (max-width:992px) {
    .menu-fixed li > a {
        font-size: 0.7em;
        font-weight: 400;
    }
    .nav.menu-fixed-center > li > a {
        padding-right:10px!important;
        padding-left:10px!important;
    }
    .menu-fixed-right {
        display:none;
    }
    .menu-static li a {
        font-size: 0.8em;
        font-weight: 600;
    }
    .menu-static-center li a {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    /*.navbar-nav.menu-static-left, .navbar-nav.menu-static-center, .navbar-nav.menu-static-right {
        position: relative;
    }*/
    .navbar-nav.menu-static-right {
        left: 10%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width:768px) {
    .menu-fixed li > a {
        font-size: 0.7em;
        font-weight: 400;
    }
    .nav.menu-fixed-center > li > a {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .menu-fixed-right {
        display: none;
    }

    .navbar-nav.menu-static-center {
        left: 28.0%;
    }
    .navbar-nav.menu-static-right {
        left: 75.0%;
    }
    .menu-static li a {
        font-size: 0.7em;
        font-weight: 400;
    }

    .menu-static-center li a {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .menu-static-right li a {
        text-transform:uppercase;
    }
}

@media screen and (max-width:576px) {
    .menu-fixed li > a {
        font-size: 0.6em;
        font-weight: 400;
    }
    .menu-fixed-right {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .menu-fixed li > a {
        font-size: 0.9em;
        font-weight: 600;
    }
}

/*@media screen and (max-width:1400px) {
    .menu-right-fixed {
        position: relative;
        margin-left: 57em;
    }
}

@media screen and (max-width:1200px) {
    .menu-right-fixed {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .menu-fixed {
        position: relative;
        margin-left: 1em;
    }
}*/
/*.menu-static {
    position:relative;
    width:100%;
    height:80px;
}
div.menu-static ul li {
    display:inline;
}
div.menu-static ul li a {
    display: inline-block;
}
.ul-menu-static-left {
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
}
.ul-menu-static-center {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
}
.ul-menu-static-right {
    position:absolute;
    left:80%;
    transform:translateX(-50%);
}*/
/*.menu-right-static {
    margin-left: 25em;
    line-height:1;
}
.menu-right-static ul {
    list-style:none;
}
.menu-right-static .btn {
    padding:4px;
    border:none;
}*/



/*Navbar BRAND styles end*/

/* Align STATIC and FIXED MENU */

/*Navbar ! FIXED ! text styles begin*/

/*ul.navbar-left > li > a {
    text-transform:uppercase;
    border-bottom:3px solid #fff;
}*/




/*.menu-fixed .navbar-left li > a:hover {
    border-bottom: 3px solid #f4511e;
    text-decoration: none;
}*/


/*Navbar ! FIXED ! text styles end*/

/*FOOTER Styles begin*/
@media screen and (max-width:992px) {
   .footer-container {
        position: static;
        width: 100%;
        margin: 0;
        padding-top: 1em;
        background-color: #efefef;
    }
}

@media screen and (min-width:992px) {
    .footer-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding-top: 1em;
        background-color: #efefef;
    }
}
.footer-container {
    font-size:1em;
    line-height:1.2em;
    font-weight:600;
}
.footer-social-media > a {
    margin-left: 1.5em;
}
.footer-phone-numbers a:hover,
.footer-phone-numbers a:active {
    text-decoration: none;
    background-color: lightgray;
}
.btn-social-footer:hover {
    transform: scale(2.0, 2.0);
    opacity: 1;
}
.phone-number {
    display:block;
    float:left;
    margin-left:1em;
}

/*FOOTER Styles end*/

/*HOME PAGE - Banner Styles begin*/
.jumbotron {
    background-color: #ffffff;
    color: #ffffff;
    background: url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 348px;
    margin: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.banner-item > h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: left;
}
.banner-item > p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: left;
}
.controls-inline {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

/*Breakpoints for devices responsive design for Banner*/
@media screen and (max-width:992px) {
    .banner-item {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 2em;
        text-align: left;
        height: 100%;
    }

    .banner-item > h2 {
        font-size: 2.0em;
        /*margin: 4% 0;*/
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #fff;
        width: 70%;
        text-align: left;
    }

    .banner-item > p {
        font-size: 1.5em;
        font-family: 'Lato', sans-serif;
        line-height: 1.0em;
        font-weight: 400;
        color: #fff;
        text-align: left;
        width: 65%;
        /*margin: 1em 0 3em 0;*/
    }
    .controls-inline {
        display:block;
        float:left;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .banner-item {
        margin-top: 0;
        padding-top: 15%;
        padding-bottom: 0;
        padding-left: 2em;
        text-align: left;
        height: 100%;
    }

    .banner-item > h2 {
        font-size: 1.8em;
        /*margin: 4% 0;*/
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #fff;
        width: 90%;
        text-align: left;
    }

    .banner-item > p {
        font-size: 1.2em;
        font-family: 'Lato', sans-serif;
        line-height: 1.0em;
        font-weight: 400;
        color: #fff;
        text-align: left;
        width: 80%;
        /*margin: 1em 0 3em 0;*/
    }
    .controls-inline {
        display:block;
        float:left;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:576px) {
    .banner-item {
        margin-top: 0;
        padding-top: 20%;
        padding-bottom: 0;
        padding-left: 2em;
        text-align: left;
        height: 100%;
    }

    .banner-item > h2 {
        font-size: 1.7em;
        /*margin: 4% 0;*/
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: #fff;
        width: 100%;
        text-align: left;
    }

    .banner-item > p {
        font-size: 1.1em;
        font-family: 'Lato', sans-serif;
        line-height: 1.0em;
        font-weight: 400;
        color: #fff;
        text-align: left;
        width: 100%;
        /*margin: 1em 0 3em 0;*/
    }
    .controls-inline {
        display:block;
        float:left;
        margin: 0;
        padding: 0;
    }
    .form-control {
        width:13.6em;
    }
}
@media screen and (max-width:350px) {
    .jumbotron {
        background-color: #ffffff;
        color: #ffffff;
        background: #2a5e88;
        background-size: cover;
        background-position: center;
        height: 348px;
        margin: 0;
        padding-bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner-item > h2 {
        font-size: 6vw;
    }
    .banner-item > p {
        font-size: 5vw;
    }
}
@media screen and (min-width:992px) {
    .jumbotron {
        height: 350px;
    }
    .banner-item > h2 {
        font-size: 1.8em;
        font-weight: 700;
        width: 70%;
    }
    .banner-item > p {
        font-size: 1.4em;
        line-height: 1.0em;
        font-weight: 400;
        width: 65%;
    }
}
@media screen and (min-width:1366px) {
    .jumbotron {
        height: 320px;
    }
    .banner-item {
        padding-top: 0;
        padding-left: 2em;
        text-align: left;
    }
    .controls-container {
        /*padding-top: 4em;*/
    }
    .banner-item > h2 {
        font-size: 2.0em;
        font-weight: 700;
        width: 50%;
    }
    .banner-item > p {
        font-size: 1.5em;
        line-height: 1.0em;
        font-weight: 400;
        width: 45%;
    }
}
@media screen and (min-width:1500px) {
    .jumbotron {
        height: 520px;
    }
    .banner-item {
        padding-top: 7em;
        padding-left: 2em;
        text-align: left;
    }
    .controls-container{
        padding-top:4em;
    }
    .banner-item > h2 {
        font-size: 2.0em;
        font-weight: 700;
        width: 60%;
    }
    .banner-item > p {
        font-size: 1.5em;
        line-height: 1.0em;
        font-weight: 400;
        width: 50%;
    }
}
/*HOME PAGE - Banner Styles end*/
.btn-main-page {
    line-height: 1.0!important;
    border-radius: 6px;
    font-size: 18px!important;
    color: #fff !important;
    background-color: #2a5e88;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding:0.5em;
    text-align: center;
}

.btn-main-page:hover {
    color: #2a5e88 !important;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.38);
    text-decoration: none !important;
}

.external-auth-providers div {
    display: inline-block;
    box-shadow: 0px 4px 2px #aaaaaa;
    margin-left: 15px;
    margin-right: 15px;
}
/*.external-auth-provider {
    border: 1px solid #aaa;
    border-radius: 12px;
    box-shadow: 0px 4px 2px #aaaaaa;
    padding: 5px;
    margin-left:5px;
    margin-bottom:10px;
}*/
/*.btn-tile {
    margin: 10px!important;
    padding: 20px!important;
    font-size: 30px!important;
    width: 50px!important;
    text-align: center!important;
    text-decoration: none!important;
    margin: 5px 2px!important;

    background: #3B5998!important;
    color: white!important;

    border: 1px solid black;
}*/
/*.external-auth-provider span {
    display:block;
    width:150px;
    margin:auto;
}*/
/*.external-auth-provider:hover {
    opacity: 0.7;
}*/
/*a.btn-social-facebook {
    background: #3B5998;
    color: white;
}
a.btn-social-google {
    background: #dd4b39;
    color: white;
}*/
.features-section-container h4 {
    font-weight: 600;
    /*margin-bottom:1em;*/
}
.features-section-container p {
    font-size: .95em;
}
.features-header {
    color: #2a5e88;
    margin-bottom: 1.0em;
}

.features-section {
    padding-top: 0em;
    padding-bottom: 0em;
}

feature-item-container {
    position: relative;
}

.feature-item-software-spec {
    text-align: center;
    overflow: hidden;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    margin: 0;
    padding-top: 0.5em;
    cursor: pointer;
}

.feature-item-software {
    text-align: center;
    overflow: hidden;
    height: 105px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    margin: 0;
    padding-top: 0.5em;
    cursor: pointer;
}

.feature-item-software h5 {
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

feature-logo-container {
    position: relative;
    overflow: visible;
}

.feature-logo {
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    color: #f4511e;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.feature-logo-software {
    position: relative;
    top: -0.1em;
    left: 0em;
    background: #fff;
    color: #f4511e;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.feature-logo-software:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.99s;
    -moz-transition: 0.99s;
    -o-transition: 0.99s;
    transition: 0.99s;
}
/*Breakpoints for responsive design*/
@media screen and (max-width:992px) {
    .feature-logo {
        position: static;
    }
    .feature-item {
        text-align: center;
        overflow: hidden;
        box-shadow: none;
        height: 150px;
    }
}
@media screen and (max-width:768px) {
    .feature-item {
        text-align: center;
        overflow: hidden;
        box-shadow: none;
        height: 100px;
    }
}
@media screen and (max-width:576px) {
    .btn-main-page {
        width:100%;
        font-size:4vw;
    }
    .feature-item {
        text-align: center;
        overflow: hidden;
        box-shadow: none;
        height: 120px;
    }
}
@media screen and (max-width:350px) {
    .btn-main-page {
        width: 100%;
        font-size: 4vw;
    }
    .features-section-container h4 {
        font-size: 5vw;
    }

    .features-section-container p {
        font-size: 4vw;
    }
    .footer-container {
        font-size: 4vw;
    }
}
/*About Company header*/
.aboutCompany-clients > a.btn-border-blue {
    position:relative;
    left:0%;
    border: 1px solid #00adf1;
    font-size:20px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 6px;
    line-height: 44px;
    font-weight:600;
    color: #00adf1;
    text-transform: uppercase;
}

.aboutCompany-clients > a.btn-border-blue:hover {
    background: #00adf1;
    color: #fff;
}

.aboutCompany-header {
    display: inline-block;
}

.aboutCompany-clients {
    display: inline-block;
    float: right;
}

/*.aboutCompany-clients a:link,
.aboutCompany-clients a:visited {
    background-color: white;
    color: black;
    border-width: 0.05em;
    border-style: solid;
    border-color: #f4511e;
    border-radius: 0;
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.aboutCompany-clients a:hover,
.aboutCompany-clients a:active {
    background-color: darkgray;
    color: black;
}*/

/*SOFTWARE Page Styles begin*/
.software-feature-item {
    text-align: center;
    overflow: hidden;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    margin: 0;
    padding-top: 0.5em;
    cursor: pointer;
}

.product-container {
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    margin-bottom: 2em;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(244, 81, 30, 0.4);
}

.product-link-details {
    margin-top:1em;
    margin-left: 30%;
    margin-right: auto;
}

.product-item-image {
    height: 120px;
    overflow: hidden;
}

.product-item-image img {
    display: block;
    margin: auto;
    height: auto;
    width: 80%;
}

.product-body {
    display: none;
}
@media screen and (max-width:992px) {
    .product-item-image img {
        width: 30%;
    }
}
@media screen and (max-width:768px) {
    .product-item-image img {
        width: 30%;
    }
}
@media screen and (max-width:576px) {
    .product-item-image img {
        width: 50%;
    }
}
/*SOFTWARE Page Styles end*/


/*Equipments Page Styles begin*/

.equipment-container {
    overflow: hidden;
    max-width: 250px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    margin: 1em;
}

.equipment-container:hover {
    box-shadow: 0 8px 16px 0 rgba(244, 81, 30, 0.4);
}

.equipment-description {
    height: 40px;
}

.equipment-link-details {
    margin-left: 30%;
    margin-right: auto;
}

.equipment-cover-container {
    position: relative;
    border-radius: 50%;
    width: 145px;
    height: 145px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    background-color: #00adf1;
    margin-top: 23px;
    margin-bottom: 32px;
}

.equipment-cover {
    position: absolute;
    top: -5%;
    width: 110px;
    height: 110px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 102px;
    padding: 0;
    background-image: url('/images/product_001.png');
    background-position: center;
    background-repeat: no-repeat;
}
/*Equipments Page Styles end*/
.equipment-item {
    height: 100%;
}

/*CONTACTS Page*/
.btn-zoom-small {
    color: #2a5e88;
}
.btn-zoom-small:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    color: #2a5e88;
    color: #f4511e;
}
.btn-social-contacts:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}
.contacts-social-media > a {
    margin-left: 1.5em;
}
.contacts{
    padding-top:2em;
}
.contacts-container {
    padding-top:0;
    margin-top:0;
}

/* LOGIN PAGE */
div.register p  {
    display:inline-block;
}
div.register p > a {
    display: block;
    margin-right:15px;
}
div.form-group.register {
    margin-bottom:1px!important;
}