body {
    padding-top:0px;
    padding-bottom:0px;
}

/* Navbar Affixed (menu-fixed class) section begin */
.affix {
    top: 0px;
    width: 100%;
    z-index: 9999 !important;
}
.affix-top {
    margin-bottom: 0;
}

.affix + .container {
    padding-top: 70px;
}
/* Navbar Affixed (menu-fixed class) section end */

/* Navbar Static (menu-static class) section begin */
@media (min-width: 768px) {
    .menu-static {
        border-radius: 0;
    }
}
.menu-static {
    background-color: #333;
}
.ul-menu-static {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:0px;
    list-style-type: none;
    overflow: hidden;
}

.ul-menu-static li {
    float: left;
    padding-left:1em;
}

.ul-menu-static li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.ul-menu-static li a:hover:not(.active) {
    background-color: #111;
}

.ul-menu-static li a.active {
    background-color: #4CAF50;
}
/* Navbar Static (menu-static class) section end */

/*Navbar text styles begin*/
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.menu-static a {
    text-transform:uppercase;
}
.menu-fixed a {
    text-transform: uppercase;
    font-weight:700;
}

.menu-fixed-phone-numbers > a {
    color: #00adf1 !important;
}
.dropdown > a,
.dropdown-menu > li > a {
    color: #00adf1 !important;
}

/*Navbar text styles end*/
/*Navbar brand styles begin*/
.navbar-brand img {
    width: 80px;
}
/*Navbar brand styles end*/

/*FOOTER Styles begin*/
.footer-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin:0;
    padding-top:1em;
    background-color:#3f3f3f;
    color:#fff;
}

.footer-social-media  {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.footer-social-media > a {
    margin-left: 1.5em;
}

.footer-phone-numbers a:hover,
.footer-phone-numbers a:active {
    text-decoration: none;
    background-color: lightgray;
}

.btn-social:hover {
    transform: scale(2.0, 2.0); /** default is 1, scale it to 1.5 */
    opacity: 1;
}

.phone-number:hover {
    transform: scale(1.2, 1.2); /** default is 1, scale it to 1.5 */
    opacity: 1;
    cursor:pointer;
}
/*FOOTER Styles end*/

/*HOME PAGE - Banner Styles begin*/
.jumbotron {
    background-color: #ffffff;
    color: #ffffff;
    background: url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    /*padding: 100px 25px;*/
}
.banner-container {
    margin-top:0;
}

.banner-info {
    padding-left:5em;
    text-align: left;
}
.banner-info h2 {
    font-size: 3em;
    /*margin: 4% 0;*/
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    width: 58%;
    text-align: left;
}

.banner-info h3 {
    font-size: 1.8em;
    /*margin: 1% auto 0;*/
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: left;
}

.banner-info p {
    font-size: 1.13em;
    font-family: 'Lato', sans-serif;
    line-height: 1.7em;
    font-weight: 400;
    color: #fff;
    text-align: left;
    width: 53%;
    /*margin: 1em 0 3em 0;*/
}
/*HOME PAGE - Banner Styles end*/


.feature-logo {
    color: #f4511e;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.feature-logo:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.99s;
    -moz-transition: 0.99s;
    -o-transition: 0.99s;
    transition: 0.99s;
}

/*About Company header*/
.aboutCompany-header {
    display:inline-block;
}
.aboutCompany-clients {
    display: inline-block;
    float:right;
}

.aboutCompany-clients a:link,
.aboutCompany-clients a:visited {
    background-color: white;
    color: black;
    border-width: 0.05em;
    border-style: solid;
    border-color: #f4511e;
    border-radius: 0;
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.aboutCompany-clients a:hover,
.aboutCompany-clients a:active {
    background-color:darkgray;
    color: black;
}

/*Software Page*/
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.equal {
    display:flex;
}
.thumbnail {
    height:100%;
    margin:0.1em;
    padding:0.1em;
}
.thumbnail img {
}
.thumbnail {
    border: 1px solid #f4511e;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.thumbnail:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

/*Equipments Page*/
.equipment-icon {
    color:orange;
}
.equipment-icon:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.99s;
    -moz-transition: 0.99s;
    -o-transition: 0.99s;
    transition: 0.99s;
}
.equal {
    display: flex;
}
.equipment-item {
    height:100%;
}
.panel {
    border: 1px solid #f4511e;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}