* {
    box-sizing: border-box;
}
body {
    padding-top:0px;
    padding-bottom:0px;
}
.body-content {
    padding-left:0;
    padding-right:0;
}
.popover {
    z-index:10000!important;
}
/*CAROUSEL Styles Begin*/
.carousel-caption {
    position: absolute;
    top:-5%;
}
.carousel-caption p {
    background-color: #efefef;
    color: #e96520;
    line-height: 1;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: none;
    margin: 1%;
    padding: 1%;
}
#carouselSoftware {
    margin-left: auto;
    margin-right: auto;
}
.item-image {
    height:400px;
    overflow:hidden;
}
.item-image img {
    display:block;
    margin:auto;
    height:auto;
    width:80%;
}
.carousel-indicators li{
    background-color: #efefef;
    border-color: #000;
}
.carousel-indicators li.active {
    background-color: #e96520;
    border-color:#000;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e96520;
}

/*CAROUSEL Styles End*/

/* FIXED MENU styles begin */
.navbar-default {
    background-color: #fff;
}
/* FIXED MENU styles end */

/* Navbar Affixed (menu-fixed class) section begin */
.affix {
    top: 0px;
    width: 100%;
    z-index: 9999 !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.affix-top {
    margin-bottom: 0;
    width: 100%;
}

.affix ~ .container {
    padding-top: 70px;
}
.affix-bottom {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
}

.affix a {
    padding-bottom: 1.5em !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.affix img {
    width: 100px !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.affix-top a {
    padding-bottom: 2.0em!important;
}
.affix-top img {
    width: 110px !important;
}
/* Navbar Affixed (menu-fixed class) section end */

/* Navbar Static (menu-static class) section begin */
@media (min-width: 768px) {
    .menu-static {
        border-radius: 0;
    }
}
.menu-static {
    background-color: #333;
}
.ul-menu-static {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:0px;
    list-style-type: none;
    overflow: hidden;
}

.ul-menu-static li {
    float: left;
    padding-left:1em;
}

.ul-menu-static li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    line-height:1;
}

.ul-menu-static li a:hover:not(.active) {
    background-color: #111;
}

.ul-menu-static li a.active {
    /*background-color: #4CAF50;*/
}
/* Navbar Static (menu-static class) section end */

/*Navbar text styles begin*/
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.menu-static a {
    text-transform:uppercase;
}
.menu-static li> a:hover {
    text-decoration: underline;
}
.menu-fixed a {
    text-transform: uppercase;
    font-weight:600;
}
.menu-fixed li > a {
    padding-left:0.5em;
    padding-bottom: 1em;
    border-bottom: 3px solid #fff;
}
.menu-fixed .navbar-left li > a:hover {
    border-bottom: 3px solid #f4511e;
    text-decoration: none;
}

.menu-fixed-phone-numbers > a {
    color: #00adf1 !important;
}
.dropdown > a,
.dropdown-menu > li > a {
    color: #00adf1 !important;
    padding-left: 0.5em;
    padding-bottom: 1em;
}
/*Navbar text styles end*/

/*Navbar BRAND styles begin*/
.navbar-brand img {
    width: 100px;
}
/*Navbar BRAND styles end*/

/*FOOTER Styles begin*/
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 1em;
    /*background-color:#3f3f3f;
    color:#fff;*/
    background-color: #000;
    color: #000;
}

.footer-social-media  {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.footer-social-media > a {
    margin-left: 1.5em;
}

.footer-phone-numbers a:hover,
.footer-phone-numbers a:active {
    text-decoration: none;
    background-color: lightgray;
}

.btn-social:hover {
    transform: scale(2.0, 2.0); /** default is 1, scale it to 1.5 */
    opacity: 1;
}

.phone-number:hover {
    transform: scale(1.2, 1.2); /** default is 1, scale it to 1.5 */
    opacity: 1;
    cursor:pointer;
}
/*FOOTER Styles end*/

/*HOME PAGE - Banner Styles begin*/
.jumbotron {
    background-color: #ffffff;
    color: #ffffff;
    background: url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 428px;
    margin:0;
    padding-bottom:0;
    /*padding: 100px 25px;*/
}
.banner-item {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5em;
    text-align: left;
    height: 100%;
}

.banner-header {
    font-size: 3.0em;
    /*margin: 4% 0;*/
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    width: 58%;
    text-align: left;
    }

.banner-description {
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    line-height: 1.2em;
    font-weight: 400;
    color: #fff;
    text-align: left;
    width: 53%;
    /*margin: 1em 0 3em 0;*/
    }
/*Breakpoints for devices responsive*/
@media(max-width:768px) {
    .header {
        min-height: 433px;
        background-size: 100% 100%;
    }

    .banner-container h2 {
        font-size: 2.6em;
        margin: 1% 0;
        width: 80%;
    }

    .banner-container p {
        font-size: 1.13em;
        width: 65%;
        margin: 1em 0 3em 0;
        overflow: hidden;
        height: 49px;
    }
}

/*HOME PAGE - Banner Styles end*/

.btn-main-page {
    /*line-height: 44px;*/
    line-height: 1.3333333;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 18px;
    color: #fff !important;
    background-color: #2a5e88;
    display: initial;
    cursor: pointer;
    float: initial;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-bottom: 0px;
    text-align: center;
}

    .btn-main-page:hover {
        color: #2a5e88 !important;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.38);
        text-decoration: none !important;
    }

.features-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.features-section {
    padding-top: 0em;
    padding-bottom: 0em;
}

.feature-logo {
    color: #f4511e;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.feature-logo:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.99s;
    -moz-transition: 0.99s;
    -o-transition: 0.99s;
    transition: 0.99s;
}

    /*About Company header*/
    .aboutCompany-header {
        display: inline-block;
    }

    .aboutCompany-clients {
        display: inline-block;
        float: right;
    }

        .aboutCompany-clients a:link,
        .aboutCompany-clients a:visited {
            background-color: white;
            color: black;
            border-width: 0.05em;
            border-style: solid;
            border-color: #f4511e;
            border-radius: 0;
            padding: 0.3em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .aboutCompany-clients a:hover,
        .aboutCompany-clients a:active {
            background-color: darkgray;
            color: black;
        }

    /*SOFTWARE Page Styles begin*/
    .product-container {
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #ddd;
        margin-bottom: 2em;
    }

        .product-container:hover {
            box-shadow: 0 8px 16px 0 rgba(244, 81, 30, 0.4);
        }

    .product-link-details {
        margin-left: 30%;
        margin-right: auto;
    }

    .product-cover {
        padding: 0;
    }

        .product-cover img {
            display: block;
            width: 100%;
            margin: auto;
        }

    .product-body {
        display: none;
    }
    /*.product-description-container:hover .product-body {
    display:block;
}*/
    /*SOFTWARE Page Styles end*/


    /*Equipments Page Styles begin*/

    .equipment-container {
        overflow: hidden;
        max-width: 250px;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #ddd;
        margin: 1em;
    }

        .equipment-container:hover {
            box-shadow: 0 8px 16px 0 rgba(244, 81, 30, 0.4);
        }

    .equipment-description {
        height: 40px;
    }

    .equipment-link-details {
        margin-left: 30%;
        margin-right: auto;
    }

    .equipment-cover-container {
        position: relative;
        border-radius: 50%;
        width: 145px;
        height: 145px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
        background-color: #e96520;
        /*background-color: #f56423;*/
        /*background-color: #00adf1;*/
        margin-top: 23px;
        margin-bottom: 32px;
    }

    .equipment-cover {
        position: absolute;
        top: -5%;
        width: 110px;
        height: 110px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        height: 102px;
        padding: 0;
        background-image: url('/images/product_001.png');
        background-position: center;
        background-repeat: no-repeat;
    }


    /*Equipments Page Styles end*/

    .equipment-item {
        height: 100%;
    }
