<li class=""><a href="#">Новый клиент</a></li>
<li class=""><a href="#">Справочник групп</a></li>
<li class=""><a href="#">Счета</a></li>
<li class=""><a href="#">Акты</a></li>
<li class=""><a href="#">Задания печати</a></li>
<li class=""><a href="#">Отчеты</a></li>
