@model ClientEditViewModel
@{
    ViewData["Title"] = "Редактирование клиента";
}

<div class="container-fluid">
    <form method="post" asp-action="Edit" asp-controller="Clients" asp-area="Admin" enctype="multipart/form-data">
        <div class="row">
            <h4>Редактирование клиента</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input asp-for="ClientId" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription"></label>
                    <textarea asp-for="ShortDescription" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HttpUrl"></label>
                    <input asp-for="HttpUrl" class="form-control" />
                    <span asp-validation-for="HttpUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <div class="image-container-admin-create">
                        <img id="image_upload_preview" src="@Model.ImagePath" alt="default logo" />
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label class="container-checkbox">
                            Использовать в галерее изображений
                            <input asp-for="ImageIsPoster">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUpload"></label>
                    <input id="inputFile" asp-for="ImageUpload" type="file" />
                    <span asp-validation-for="ImageUpload"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Сохранить изменения" class="btn btn-main-page" />
                </div>
            </div>
        </div>
    </form>
</div>