@model ProductCategoryCreateViewModel
@{
    ViewData["Title"] = "Добавление категории продуктов";
}

<div class="container-fluid">
    <form method="post" asp-action="Create" asp-area="Admin" enctype="multipart/form-data">
        <div class="row">
            <h4>Добавление категории продуктов</h4>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-main-page" />
                </div>
            </div>
        </div>
    </form>
</div>

