@{
    ViewData["Title"] = "Доступ запрещен";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">У вас нет разрешения на доступ к данному ресурсу.</p>
</header>
