@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Напомнить пароль";
}

<h2>Напомнить пароль</h2>
<h4>Введите Ваш адрес эл. почты.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-main-page">Напомнить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
