@{
    ViewData["Title"] = "Доступ заблокирован";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Ваша учетная запись заблокирована, пожалуйста, попробуйте войти позже.</p>
</header>
