@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Вход на сайт";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h3 class="text-center">Вход</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">Эл. почта</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input asp-for="Email" class="form-control" type="text" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input class="checkbox" asp-for="RememberMe" />
                            Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-main-page">Войти</button>
                </div>
                <div class="form-group register">
                    <p>
                        <a asp-action="ForgotPassword">Напомнить пароль</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Зарегистрироваться</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4 class="text-center">Или войти как пользователь</h4>
            <div class="external-auth-providers text-center">
                <div class="external-auth-provider">
                    <a href="#" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
                </div>
                <div class="external-auth-provider">
                    <a href="#" class="btn btn-social btn-google"><span class="fa fa-google"></span> Google</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
