@{
    ViewData["Title"] = "Подтверждение смены пароля";
}

<h2>Подтверждение смены пароля</h2>
<p>
    Ваш пароль был изменен. Для входа на сайт, <a asp-action="Login">перейдите по этой ссылке</a>.
</p>
