@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="col-md-1 clients-left-column">
                <div class="client-left-navbar">
                    <ul class="nav nav-pills nav-stacked navVertical">
                        @{ 
                            Html.RenderPartial("_NavVerticalTop");
                        }
                    </ul>
                    <ul class="nav nav-pills nav-stacked nav-clients">
                        @RenderSection("NavVertical", false)
                    </ul>
                </div>
            </div>
            <div class="col-md-11 clients-right-column">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/js/loadClientData.js"></script>
        <script src="~/js/addNavActiveClass.js"></script>
        <script src="~/js/getMaxHeight.js"></script>
        <script src="~/js/allowDisabled.js"></script>
        <script src="~/js/submitForm.js"></script>
        <script src="~/js/searchClientsTable.js"></script>
        <script src="~/js/clientSearch.js"></script>
        <script src="~/js/uncheckNotActive.js"></script>
    }