@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link href="~/css/personalCabinet.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center">Панель администратора</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-3">
                <div class="avatar-container">
                    <img class="avatar-circle img-responsive center-block" src="~/images/DefaultImages/DefaultUser.jpg" />
                </div>
            </div>
            <div class="col-md-9">
                <h3>@User.Identity.Name</h3>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked">
                    <li class=""><a asp-action="UserList">Пользователи</a></li>
                    <li class=""><a asp-action="Index">Роли</a></li>
                    <li class=""><a asp-action="">Контент сайта</a></li>
                </ul>
            </div>
         </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>*@
@*<script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.uk.min.js"></script>*@

@section Scripts {
    @*@RenderSection("Scripts", required: false)*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
}